@font-face {
font-family: 'fonta27c5975a1a88dcd17c7c606902044d9';
    
    src:    url('https://nomail.com.ua/files/eot/a27c5975a1a88dcd17c7c606902044d9.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/a27c5975a1a88dcd17c7c606902044d9.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/a27c5975a1a88dcd17c7c606902044d9.woff2') format('woff2');
}

@font-face { font-family: 'ArialMT';  src: local('ArialMT'), url('https://nomail.com.ua/files/woff/a27c5975a1a88dcd17c7c606902044d9.woff') format('woff'); }

#arialmt { font-family:'ArialMT'; }
.fonta27c5975a1a88dcd17c7c606902044d9 { font-family: 'fonta27c5975a1a88dcd17c7c606902044d9'; }

@font-face {
     font-family: "Socialico";
     src: url("font/Socialico.eot?") format("eot"), url("font/Socialico.woff") format("woff"), url("font/Socialico.ttf") format("truetype"), url("font/Socialico.svg#Socialico") format("svg");
     font-weight: normal;
     font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.padding-site {
    padding: 50px 50px 52px 50px;
}
body {
    font-family: 'ArialMT', sans-serif;
}
html,
body {
    height: 100%;
}
h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px;
}
h3 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 8px;
}
p,
li {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.header {
    padding-top: 63px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
}

/* Блок #1 */
.name {
    background-color: #445162;
}

.name h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 24px;
}
.name-menu li {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 6px;
    padding-bottom: 0px;
}
.name-menu {
    list-style-image: url(img/check_icon.png);
    padding-left: 31px;
}

.name-text {
    float: left;
}
.white {
    float: right;
    width: 469px;
    height: 214px;
    background-color: white;
    margin-top: 12px;
}

/* Блок #2 */
.dignity {
    background-color: #f5f5f5;
}
.about-product {
    float: left;
    max-width: 650px;
}

.about-img {
    background-color: #445161;
    width: 430px;
    height: 245px;
    float: right;
}

/* Блок #3 */
.dignity h2 {
    text-align: center;
}
.dignity-li {
    float: left;
    background: url(img/2-layers.jpg) 0px 14px no-repeat;
    padding-left: 45px;
    padding-top: 10px;
    list-style: none;
}
.dignity-menu {
    width: 50%;
    float: left;
}
.dignity-menu2 {
    width: 50%;
    float: right;
}

/* Блок #4 */
.scrinshots-block img {
    float: left;
    padding-right: 15px;
    padding-top: 5px;
}
.scrinshots-block img:hover {
filter: blur(2px);
}
.scrinshots1, .scrinshots2 {
    margin: 0 auto;
}
.scrinshots1 {
    padding-right: 13px;
}
.scrinshots-all {
    display: flex;
}
.scrinshots h2 {
    text-align: center;
}

/* Блок #5 */
.reviews {
    background-color: #f5f5f5;
}
.reviews h2 {
    text-align: center;
}
.reviews-all {
    display: flex;
}

.reviews-ava img {
    float: left;
    border-radius: 50%;
}
.reviews-row:nth-child(odd) {
    padding-right: 10px;
}

.reviews-otz {
    background: #ebebeb;
    min-height: 125px;
    float: right;
}
.reviews-otz p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 29px;
    padding-top: 15px;
    padding-right: 29px;
    padding-bottom: 12px;
    font-style: italic;
}

.reviews-row {
    margin: 0 auto;
}
.reviews-otz span {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 29px;
    padding-top: 15px;
}

.reviews-cart {
    padding-bottom: 20px;
    display: flex;
}

.reviews-ava {
    float: left;
    padding-right: 10px;
}

.pds2 {
    padding-bottom: 30px;
}

/* Блок #6 */
.buyItNow {
  padding: 50px;
}
.buyItNow:after {
  content: '';
  clear: both;
  display: block;
}
.buyItNow .buyItNowHeader {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.buyItNow .buyUnits {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.buyItNow .buyUnits .buyUnit {
  width: 298px;
  background: #445161;
  border-radius: 4px;
  border: 2px solid #445161;
}
.buyItNow .buyUnits .buyUnit h2 {
  padding: 17px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.buyItNow .buyUnits .buyUnit .buyUnitPrice {
  text-align: center;
  padding: 18px;
  color: #445161;
  background: #ffffff;
  font-size: 40px;
  line-height: 30px;
}
.buyItNow .buyUnits .buyUnit .buyUnitText {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.buyItNow .buyUnits .buyUnit .buyBtn {
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  background-color: #ffffff;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin: 20px;
  text-decoration: none;
}
.buyUnit a {
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  background-color: #ffffff;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin: 20px;
  text-decoration: none;
}
.buyUnit a:hover {
  background-color: #e1e4e6;
}



/* Блок #7 */

.contacts {
    background-color: #445162;
    display: flex;
}
.contacts-margin {
    margin: 0 auto;
    display: flex;
}
.contacts-name, .contacts-email, .contacts-mess {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 21px;
    padding-left: 10px;
    border: 0px;
    
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'ArialMT', sans-serif;
}
input[type="email"]:invalid {
    background: white;
}
input[type="email"]:valid {
    background: #21ff40;
}
.contacts-mess {
    width: 500px;
    height: 170px;
    padding-top: 8px;
    margin-bottom: 16px;
}

input[type="submit"] {
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    font-family: 'ArialMT', sans-serif;
    background-color: white;
    border: 0px;
    border-radius: 5px;    
}
input[type="submit"]:hover {
    background-color: #e1e4e6;
}
.social-menu {
    list-style: none;
}
.social_1, .social_2, .social_3, .social_4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.contacts-forma {
    padding-right: 40px;
    text-align: center;
}
.social_1 {
    background: url(img/skype_icon.png) 0px 0px no-repeat;
    padding-left: 32px;
}
.social_2 {
    background: url(img/icq_icon.png) 0px 0px no-repeat;
    padding-left: 32px;
}
.social_3 {
    background: url(img/email_icon.png) 0px 0px no-repeat;
    padding-left: 32px;
}
.social_4 {
    background: url(img/phone_icon.png) 0px 0px no-repeat;
    padding-left: 32px;   
}
.icons a {
    font-family: "Socialico";
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}
.icons a:hover {
    color: #e1e4e6;
}
.icons {
    margin-top: 30px;
    margin-left: -2px;
}

/* Блок #8 */
.footer1 p {
    font-family: "ArialMT";
    color: #445162;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 0px;
}
.footer1 {
    background-color: rgb(245, 245, 245);
    text-align: center;
}